body{
    /* IE10 Consumer Preview background-image: -ms-radial-gradient(center, circle farthest-corner, #F3D220 0%, #EFAA17 100%); */
    background-image: -ms-radial-gradient(center, circle farthest-corner, #fefefe 0%, #eee 100%);
    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle farthest-corner, #fefefe 0%, #eee 100%);
    /* Opera */
    background-image: -o-radial-gradient(center, circle farthest-corner, #fefefe 0%, #eee 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #fefefe), color-stop(1, #eee));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #fefefe 0%, #eee 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle farthest-corner at center, #fefefe 0%, #eee 100%);

    background: url(../img/body-top.png) center top no-repeat #F2F2F2;
}

#divVistas{

}

.logo-escolme{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}