<h5>Bienvenido al sistema de Inventarios Escolme </h5>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#/inventarios/admin">Inventario</a>
    </li>
    <li class="active">
        <a href="#/inventarios/pedidos">Pedidos</a>
    </li>
</ul>

           <div class="container-fluid">
             <div class="row-fluid">
                <div class="span3">
                    <form ng-submit="AgregarProducto()">
                        <legend>Agregar Productos:</legend>
                        <label for="">Tipo de Producto:</label>
                        <select  required="required" name="inputcategoria" class="input-xlarge"  ng-change="productosCategoria()" ng-model="pedido.id_categoria_producto" ng-options="c.id_categoria_producto as c.categoria for c in categoria" >
                            <option value=""> -- Seleccione tipo de producto</option>
                        </select>
                        <label for="">Producto:</label>
                        <select required="required" name="inputproductos" class="input-xlarge"  ng-model="pedido.id_producto" ng-options="c.id_producto as c.nom_producto for c in proxcate" >
                            <option value=""> -- seleccione el producto</option>
                        </select>
                        <label for="tCantidad">Cantidad:</label>
                        <input type="number" name="tCantidad" ng-model="pedido.cantidad" min="1" class="input-medium" required="required" >
                        <button type="submit" class="btn" >Agregar Producto</button>
                    </form>
                        <form ng-submit="QuitarProducto()">

                        <button type="submit" class="btn" >Disminuir Cantidad</button>
                        </form>


                </div>
                 <div class="span9">
                    <table class="table table-bordered" border="2">
                        <tr>

                            <td><center><B>Producto</B></td>
                            <td><center><B>Cantidad</B></td>
                            <td style="width: 30px;"></td>
                        </tr>
                        <tr ng-repeat="c in pedidoFinal">
                            <td>{{c.nom_producto}}</td>
                            <td>{{c.cantidad}}</td>
                            <td>
                                <button ng-click="EliminarItem(c)" class="btn btn-mini"><i class="icon-trash"></i></button>
                            </td>
                        </tr>
                    </table>
                     <button position="right" type="submit" class="btn btn-primary" ng-click="GuardarPedido()"><i class=" icon-shopping-cart"></i>Generar pedido</button>
                     <button  position="right" type="button" class="btn">Cancelar</button>
                 </div>
              </div>
           </div>


    <div id="pedidoFinal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Pedido Final</h3>
        </div>
        <div class="modal-body">
            <table class="table table-bordered" border="2">
                <tr>

                    <td><center><B>Producto</B></td>
                    <td><center><B>Cantidad</B></td>

                </tr>
                <tr ng-repeat="c in pedidoFinal">
                    <td>{{c.nom_producto}}</td>
                    <td>{{c.cantidad}}</td>
                </tr>
            </table>
            <iframe name="iFrame1" id="frmPedido"  width="900" height="1156" src="" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="modal-footer">
            <button position="right" type="submit" class="btn btn-primary" >Aceptar</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true" >Cerrar</button>
        </div>
    </div>



