<style type="text/css">
            legend{
                text-align: center;
            }
        </style>

            <ul class="breadcrumb">
                <li> <a href="#/inventarios/admin">Inventario</a> <span class="divider">/</span></li>
                <li><a href="" class="active">Registro</a> <span class="divider">/</span></li>
            </ul>


            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">

                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <!-- Be sure to leave the brand out there if you want it shown -->
                        <a class="brand" href="#/inventarios/admin">Inventario Escolme</a>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>

        </div>
    </div>
</div>


    <div class="container-fuid">
        <div class="row">
            <div class="span12">
                <div class="btn-group">
                    <a class="btn" href="#/inventarios/registro">Insertar</a>
                    <a class="btn">Borrar</a>
                    <a class="btn">Modificar</a>
                </div>
            </div>
        </div>

        <div class="row-fuid">
            <div class="span6 offset3">
                <form class="form-horizontal" id="form_insetarproductos" name="insetarproductos"  ng-submit="Guardar()">
                    <fieldset>
                        <legend>Insertar</legend>
                        <div class="control-group">
                            <label class="control-label" for="inputCodigo">Código</label>
                            <div class="controls">
                                <input required="required" type="text" name="inputCodigo" placeholder="codigo producto..." ng-model="insertarproductos.id_producto">
                         </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputNombre">Nombre</label>
                            <div class="controls">
                                <input required="required" type="text" name="inputNombre" placeholder="nombre producto..." ng-model="insertarproductos.nom_producto">
                            </div>
                        </div>
                        <!--<div class="control-group">-->
                            <!--<label class="control-label" for="inputUsuario">Responsable</label>-->
                            <!--<div class="controls">-->
                                <!--<input type="text" name="inputUsuario" placeholder="responsable producto...">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="control-group">-->
                            <!--<label class="control-label" >-->
                               <!--Tipo producto-->
                            <!--</label>-->
                            <!--<div class="controls">-->
                                <!--<select  required="required" name="inputcategoria2" class="input-xlarge"  ng-change="categoriaListar()" ng-model="pedido.id_categoria_producto" ng-options="c.id_categoria_producto as c.categoria for c in categoria2" >-->
                                    <!--<option value=""> -- Seleccione tipo de producto</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="control-group">-->
                            <!--<label  class="control-label" for="inputPrecio">Precio</label>-->
                            <!--<div class="controls">-->
                                <!--<div class="input-prepend input-append">-->
                                    <!--<span class="add-on">$</span>-->
                                    <!--<input required="required" class="span2" id="precioInput" type="text">-->
                                    <!--<span class="add-on">.00</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                         <!--<div class="control-group">-->
                            <!--<label class="control-label" for="inputStock">Cantidad en Stock</label>-->
                            <!--<div class="controls">-->
                                <!--<input required="required" class="input-mini" type="text" placeholder="...">-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary" ng-disabled="form_insertarproductos.$invalid || isUnchanged(insertarproductos)">Guardar</button>
                                <button type="button" class="btn">Cancelar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>



<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>
