<style type="text/css">
    legend{
        text-align: center;
    }
</style>
<div class="row-fluid" >
<div class="span6 offset3">
    <form class="form-horizontal" >
        <fieldset>
            <legend style=" padding-top: 10px;">Inscripción en línea</legend>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Metodologia</label>
                <div class="controls">
                    <select  required="required" name="inputMetodologia" class="input-xlarge" ng-change="ListarProgramas()" ng-model="inscripcion.METO_ID" ng-options="c.METO_ID as c.METO_DESCRIPCION for c in modalidades" >
                        <option value=""> -- Seleccione la Metodologia</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >Programa - Opción 1</label>
                <div class="controls">
                    <select  required="required" class="input-xlarge" ng-model="inscripcion.PROG_ID" ng-options="c.PROG_ID as c.PROG_NOMBRE for c in programas" >
                        <option value=""> -- Seleccione el Programa</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label  class="control-label" >Programa - Opción 2</label>
                <div class="controls">
                    <select  required="required" class="input-xlarge" ng-model="inscripcion.PROG_ID2" ng-options="c.PROG_ID as c.PROG_NOMBRE for c in programas" >
                        <option value=""> -- Seleccione el Programa</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label  class="control-label" >Horario</label>
                <div class="controls">
                    <select  required="required" class="input-large" ng-model="inscripcion.JORN_ID" ng-options="c.JORN_ID as c.JORN_DESCRIPCION for c in horario" >
                        <option value=""> -- Seleccione el Horario</option>
                    </select>
                </div>
            </div>

            <legend>Datos Personales</legend>

            <div class="control-group">
                <label  class="control-label" >Tipo de Documento</label>
                <div class="controls">
                    <select ng-model="inscripcion.TIDG_ID" ng-options="c.TIDG_ID as c.TIDG_DESCRIPCION for c in tipodocumento"required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el Tipo de Documento</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Numero de Documento
                </label>
                <div class="controls">
                    <input type="text" required="required" maxlength="15" ng-model="ASPIRANTE.ASPI_NUMERODOCUMENTO" class="input-xlarge" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Sexo
                </label>
                <div class="controls">
                    <select ng-model="ASPI_SEXO" required="required" class="input-large" >
                        <option value="" > -- Seleccione el sexo</option>
                        <option value="1" >Masculino</option>
                        <option value="2" >Femenino</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Primer Nombre
                </label>
                <div class="controls">
                    <input type="text" required="required" maxlength="15" ng-model="ASPIRANTE.ASPI_PRIMERNOMBRE" class="input-xlarge" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Segundo Nombre
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="ASPIRANTE.ASPI_SEGUNDONOMBRE" class="input-xlarge" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Primer Apellido
                </label>
                <div class="controls">
                    <input type="text" required="required" maxlength="15" ng-model="ASPIRANTE.ASPI_PRIMERAPELLIDO" class="input-xlarge" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Segundo Apellido
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="ASPIRANTE.ASPI_SEGUNDOAPELLIDO" class="input-xlarge" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Fecha de Nacimiento
                </label>
                <div class="controls">
                    <!-- <input type="date" ng-model="ASPIRANTE.ASPI_FECHANACIMIENTO" class="input-medium" > -->
                    <input ng-model="ASPIRANTE.ASPI_FECHANACIMIENTO" ui-date type="text">


                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Lugar de Nacimiento
                </label>
                <div class="controls">
                <select ng-model="inscripcion.PAGE_ID" ng-change="ListarDepartamento()" ng-options="c.PAGE_ID as c.PAGE_NOMBRE for c in pais" required="required" class="input-xlarge" >
                   <option value="" > -- Seleccione el país</option>
                </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <select ng-model="inscripcion.DEGE_ID" ng-change="ListarCiudad()"ng-options="c.DEGE_ID as c.DEGE_NOMBRE for c in departamento" required="required" class="input-xlarge" >
                       <option value="" > -- Seleccione el dpto</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <select ng-model="inscripcion.CIGE_ID" ng-options="c.CIGE_ID as c.CIGE_NOMBRE for c in ciudad" required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el mpio</option>
                     </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Estado Civil
                </label>
                <div class="controls">
                    <select ng-model="inscripcion.ESCG_ID" ng-options="c.ESCG_ID as c.ESCG_DESCRIPCION for c in estadocivil" required="required" class="input-large" >
                        <option value="" > -- Seleccione el estado civil</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Estrato
                </label>
                <div class="controls">
                    <select ng-model="inscripcion.ESTR_ID" ng-options="c.ESTR_ID as c.ESTR_DESCRIPCION for c in estrato" required="required" class="input-large" >
                        <option value="" > -- Seleccione el estrato</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    ¿Por cuál medio se entero de la institución?
                </label>
                <div class="controls">
                    <select ng-model="inscripcion.OMED_ID" ng-options="c.OMED_ID as c.OMED_DESCRIPCION for c in medio"required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el medio</option>
                    </select>
                </div>
            </div>

            <legend>Datos de ubicación</legend>

            <div class="control-group">
                <label class="control-label">Pais</label>
                <div class="controls">
                    <select ng-model="inscripcion.PAGE_ID2" ng-change="ListarDepartamento2()" ng-options="c.PAGE_ID as c.PAGE_NOMBRE for c in pais2" required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el país</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Departamento</label>
                <div class="controls">
                    <select ng-model="inscripcion.DEGE_ID2" ng-change="ListarCiudad2()"ng-options="c.DEGE_ID as c.DEGE_NOMBRE for c in departamento2"  required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el dpto</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Ciudad</label>
                <div class="controls">
                    <select ng-model="inscripcion.CIGE_ID2" ng-options="c.CIGE_ID as c.CIGE_NOMBRE for c in ciudad2" required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el mpio</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Teléfono fijo
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="ASPIRANTE.ASPI_TELEFONORESIDENCIA" class="input-medium" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Celular
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="ASPIRANTE.ASPI_ASPI_TELEFONOCELULAR" class="input-large" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Correo Electrónico
                </label>
                <div class="controls">
                    <input type="text" maxlength="50" ng-model="ASPIRANTE.ASPI_EMAIL" class="input-xlarge" >
                </div>
            </div>


            <legend>Información académica </legend>

            <div class="control-group">
                <label class="control-label">Nombre de la Institución de Graduación de Secundaria: </label>
                <div class="controls">
                    <input type="text" maxlength="250" placeholder="Ingrese datos y presione Enter para buscar"  ui-keydown="{'enter alt-space':'ListarInstitucion($event)'}" ng-model='filtros.institucion' class="input-xlarge" required="required" >


<!--                     <select ng-model="inscripcion.INST_CODIGOSNP" ng-options="c.INST_CODIGOSNP as c.INST_NOMBREINSTITUCION for c in institucion"required="required" class="input-xlarge">
                        <option value="">-- Seleccione la intitución</option>
                    </select> -->
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Fecha de graduación
                </label>
                <div class="controls">
                    <!--<input type="date" ng-model="ESTUDIOSSECUNDARIOS.ESSE_FECHATERMINACION" class="input-medium" >-->
                    <input ng-model="ESTUDIOSSECUNDARIOS.ESSE_FECHATERMINACION" ui-date type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Número pruebas icfes SNP
                </label>
                <div class="controls">
                    <input type="text" maxlength="30" ng-model="ESTUDIOSSECUNDARIOS.ESSE_SNP" class="input-large" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Fecha presentación icfes
                </label>
                <div class="controls">
                    <!--<input type="date"  ng-model="ESTUDIOSSECUNDARIOS.ESSE_FECHAPRESENTOPRUEBAS" class="input-medium" > -->
                    <input ng-model="ESTUDIOSSECUNDARIOS.ESSE_FECHAPRESENTOPRUEBAS" ui-date type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Puntaje
                </label>
                <div class="controls">
                    <input type="number" maxlength="10" ng-model="ESTUDIOSSECUNDARIOS.ESSE_PUNTAJEOBTENIDO" class="input-medium" >
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" >Aceptar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

</div>

<div id="ventanaListarInstituciones" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:900px;margin:0 0 0 -400px;">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Instituciones Educativas</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped" >
            <tr>
                <th>INSTITUCION</th>
                <th>JORNADA</th>
            </tr>
            <tr ng-repeat="c in instituciones"> 
                <td><a ng-click="RetornarInstitucion(c)" href="" >{{c.INST_NOMBREINSTITUCION}}</a></td>
                <td><a href="#" >{{c.INST_JORNADA}}</a></td>
            </tr>
        </table>     
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div>
