<style type="text/css">
    .REQU_ENTREGADO-true {
        background-color: #dff0d8;
    }
    .REQU_ENTREGADO-false {
        background-color: #f2dede;
    }
</style>

<table class="table table-hover" style="font-size: 12px">
    <thead>
    <tr>
        <th>Nombre Completo</th>
        <th>Identificación</th>
        <th>Metodología</th>
        <th>Programa 1</th>
        <th>Jornada</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in preinscritos">
        <td>{{c.NOMBRE}}</td>
        <td>{{c.ASPI_NUMERODOCUMENTO}}</td>
        <td>{{c.METO_DESCRIPCION}}</td>
        <td>{{c.PROG_NOMBRE}}</td>
        <td>{{c.JORN_DESCRIPCION}}</td>
        <td><button ng-click="AbrirGestionarPreinscripcion(c)" class="btn btn-mini"><i class="icon-check"></i></button></td>
        <td><button ng-click="AbrirImprimirFormulario(c)" class="btn btn-mini"><i class="icon-print"></i></button></td>
    </tr>
    </tbody>
</table>

<!-- ventana de Final Inscripcion-->
<div id="ventanaChequeo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-header" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">Gestionar Inscripción</h4>
    </div>

    <div class="modal-body">
        <div class="hero"style="text-align: center;font-size: 9">

            <h4>{{clasificacion.NOMBRE}} - {{clasificacion.ASPI_NUMERODOCUMENTO}}</h4>

            <div class="control-group">
                <label class="control-label" >
                    Clasificación del Preinscrito
                </label>
                <div class="controls">
                    <select id="tCategoria" name="tCategoria" ng-model="clasificacion.REQU_CLASIFICACION" ng-change="ListarRequisitos()" required="required" class="input-large" >
                        <option value="" > -- Seleccione la Clasificación</option>
                        <option value="1" >NUEVO</option>
                        <option value="2" >TECNICO</option>
                        <option value="3" >EGRESADO</option>
                    </select>
                </div>

                <table class="table" style="font-size: 12px">
                    <thead>
                    <tr>
                        <th>Requisito</th>
                        <th>Entregado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="REQU_ENTREGADO-{{c.REQU_ENTREGADO}}" ng-repeat="c in requisitos">
                        <td>{{c.REQU_DESCRIPCION}}</td>
                        <td> <input type="checkbox" ng-model="c.REQU_ENTREGADO" ></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                <label class="control-label" >
                    Observaciones
                </label>
                <textarea rows="4" ng-model="clasificacion.REAS_OBSERVACIONES"></textarea>
                </div>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn" ng-click="GuardarRequisitos()" >Guardar</button>-->
        <button class="btn" data-dismiss="modal" ng-click="GuardarRequisito(); ListarPreinscritos()">Guardar y Procesar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" >Cerrar</button>
    </div>
</div>

<!--<div id="ImprimirInscripcion2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:48%;left:70%;">
    <div class="modal-body">

        <table style="text-align: center; margin-left: auto; margin-right: auto; font-size: x-small;" border="0" cellpadding="1" cellspacing="1">
            <tbody>
            <tr>
                <td colspan="4" rowspan="1"style="width: 160px;"><b>INSCRIPCION EN LINEA</b></td>
            </tr>
            <tr>
                <td colspan="4" rowspan="1" style="width: 160px;background-color: #bbbbbb;"><b>DATOS PERSONALES</b></td>
            </tr>

            <tr style="background-color: #ebebeb">
                <td style="width: 160px;"><b>Primer Nombre</b></td>
                <td style="width: 160px;"><b>Segundo Nombre</b></td>
                <td style="width: 160px;"><b>Primer Apellido</b></td>
                <td style="width: 160px;"><b>Segundo Apellido</b></td>
            </tr>
            <tr>
                <td style="width: 160px;">{{datos1[0].ASPI_PRIMERNOMBRE}}</td>
                <td style="width: 160px;">{{datos1[0].ASPI_SEGUNDONOMBRE}}</td>
                <td style="width: 160px;">{{datos1[0].ASPI_PRIMERAPELLIDO}}</td>
                <td style="width: 160px;">{{datos1[0].ASPI_SEGUNDOAPELLIDO}}</td>
            </tr>

            <tr style="background-color: #ebebeb">
                <td colspan="2" rowspan="1" style="width: 160px;"><b>Tipo Documento</b></td>
                <td colspan="2" rowspan="1" style="width: 160px;"><b>Número Documento</b></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="1" style="width: 160px;">{{datos1[0].TIDG_DESCRIPCION}}</td>
                <td colspan="2" rowspan="1" style="width: 160px;">{{datos1[0].ASPI_NUMERODOCUMENTO}}</td>
            </tr>

            <tr style="background-color: #ebebeb">
                <td colspan="2" rowspan="1" style="width: 160px;"><b>Sexo</b></td>
                <td colspan="2" rowspan="1" style="width: 160px;"><b>Estado Civil</b></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="1" style="width: 160px;">{{datos1[0].ASPI_SEXO}}</td>
                <td colspan="2" rowspan="1" style="width: 160px;">{{datos1[0].ESCG_DESCRIPCION}}</td>
            </tr>

            <tr style="background-color: #ebebeb">
                <td style="width: 160px;"><b>Fecha Nacimiento</b></td>
                <td style="width: 160px;"><b>Pais</b></td>
                <td style="width: 160px;"><b>Departamento</b></td>
                <td style="width: 160px;"><b>Municipio</b></td>
            </tr>
            <tr>
                <td style="width: 160px;">{{datos1[0].ASPI_SEXO}}</td>
                <td style="width: 160px;">{{datos1[0].ASPI_SEXO}}</td>
                <td style="width: 160px;">{{datos1[0].ASPI_SEXO}}</td>
                <td style="width: 160px;">{{datos1[0].ASPI_SEXO}}</td>
            </tr>

            <tr style="background-color: #ebebeb">
                <td colspan="2" rowspan="1" style="width: 160px;"><b>Estrato</b></td>
                <td colspan="2" rowspan="1" style="width: 160px;"><b>Medio Entero</b></td>
            </tr>
            <tr>
                <td colspan="2" rowspan="1" style="width: 160px;">AQUI VA </td>
                <td colspan="2" rowspan="1" style="width: 160px;">AQUI VA </td>
            </tr>

            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        &lt;!&ndash;<button class="btn" data-dismiss="modal" ng-click="BuscarLlamado()">Guardar y Procesar</button>&ndash;&gt;
        <button class="btn" data-dismiss="modal" aria-hidden="true" >Imprimir</button>
    </div>
</div>-->

<div id="imprimirInscripcion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:48%;left:45%;">
<!--    <div class="modal-header" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">Gestionar Entrevista</h4>
    </div>-->

    <div class="modal-body">
        <div id="divVistaPreviaInscripcion">
            <table style="margin-left: auto; margin-right: auto; font-size: x-small;" border="0" cellpadding="1" cellspacing="1">
                <tr>
                    <td colspan="1" rowspan="4" style="width: 640px;">  <img style="max-width: 25%;text-align: left" src="img/logotipoIU.png"> </td>
                </tr>
            </table>

            <table style="font-family: 'Lato', sans-serif !important; font-size: 12px; display: table; border-collapse: collapse; border: 1px solid #ccc; color: #333; text-align: center; margin-left: auto; margin-right: auto; font-size: x-small;" border="0" cellpadding="1" cellspacing="1">

                <tr>
                    <td colspan="4" style="border: 1px solid #ccc;" ><b>INSCRIPCION EN LINEA</b></td>
                </tr>
                <tr style="background: #bbbbbb;">
                    <td colspan="4"  style="background: #bbbbbb;border: 1px solid #ccc;"><b>DATOS PERSONALES</b></td>
                </tr>

                <tr style="background: #ebebeb">
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Primer Nombre</b></td>
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Segundo Nombre</b></td>
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Primer Apellido</b></td>
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Segundo Apellido</b></td>
                </tr>
                <tr>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.ASPI_PRIMERNOMBRE}}</td>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.ASPI_SEGUNDONOMBRE}}</td>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.ASPI_PRIMERAPELLIDO}}</td>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.ASPI_SEGUNDOAPELLIDO}}</td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;"><b>Tipo Documento</b></td>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;"><b>Número Documento</b></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;">{{datos1.TIDG_DESCRIPCION}}</td>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;">{{datos1.ASPI_NUMERODOCUMENTO}}</td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;"><b>Sexo</b></td>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;"><b>Estado Civil</b></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;">{{datos1.ASPI_SEXO}}</td>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;">{{datos1.ESCG_DESCRIPCION}}</td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Fecha Nacimiento</b></td>
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Pais</b></td>
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Departamento</b></td>
                    <td style="width: 160px;border: 1px solid #ccc;"><b>Municipio</b></td>
                </tr>
                <tr>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.ASPI_FECHANACIMIENTO}}</td>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.PAGE_NOMBRE}}</td>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.DEGE_NOMBRE}}</td>
                    <td style="width: 160px;border: 1px solid #ccc;">{{datos1.CIGE_NOMBRE}}</td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;"><b>Estrato</b></td>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;"><b>Medio Entero</b></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;">{{datos1.INSO_ESTRATO}}</td>
                    <td colspan="2" rowspan="1" style="width: 160px;border: 1px solid #ccc;">{{datos1.OMED_DESCRIPCION}}</td>
                </tr>


            </table>
            <table style=" font-family: 'Lato', sans-serif !important; font-size: 12px; display: table; border-collapse: collapse; border: 1px solid #ccc; color: #333; text-align: center; margin-left: auto; margin-right: auto;font-size: x-small;" border="0" cellpadding="1" cellspacing="1">

                <tr>
                    <td colspan="3" rowspan="1" style="background-color: #bbbbbb;border: 1px solid #ccc;"><b>DATOS DE UBICACION</b></td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>Pais</b></td>
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>Departamento</b></td>
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>Ciudad</b></td>
                </tr>
                <tr>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos2.PAGE_NOMBRE}}</td>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos2.DEGE_NOMBRE}}</td>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos2.CIGE_NOMBRE}}</td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>Telefono</b></td>
                    <td style="width: 213.3px;border: 1px solid #ccc;"><b>Celular</b></td>
                    <td style="width: 213.3px;border: 1px solid #ccc;"><b>Email</b></td>
                </tr>
                <tr>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos1.ASPI_TELEFONORESIDENCIA}}</td>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos1.ASPI_TELEFONOCELULAR}}</td>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos1.ASPI_EMAIL}}</td>
                </tr>

                <tr>
                    <td colspan="3" rowspan="1" style="background-color: #bbbbbb;border: 1px solid #ccc;"><b>INFORMACION ACADEMICA</b></td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td colspan="2" rowspan="1" style="width: 213.3px;border: 1px solid #ccc;"><b>Institucion Graduacion</b></td>
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>Fecha Graduacion</b></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="1" style="width: 213.3px;border: 1px solid #ccc;">{{datos1.INST_NOMBREINSTITUCION}}</td>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos1.ESSE_FECHATERMINACION}}</td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>SNP Icfes</b></td>
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>Fecha Presentacion</b></td>
                    <td style="width: 213.4px;border: 1px solid #ccc;"><b>Puntaje</b></td>
                </tr>
                <tr>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos1.ESSE_SNP}}</td>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos1.ESSE_FECHAPRESENTOPRUEBAS}}</td>
                    <td style="width: 213.4px;border: 1px solid #ccc;">{{datos1.ESSE_PUNTAJEOBTENIDO}}</td>
                </tr>

            </table>
            <table style="font-family: 'Lato', sans-serif !important; font-size: 12px; display: table; border-collapse: collapse; border: 1px solid #ccc; color: #333;text-align: center; margin-left: auto; margin-right: auto; font-size: x-small;" border="0" cellpadding="1" cellspacing="1">

                <tr>
                    <td colspan="2" rowspan="1"style="width: 160px;background-color: #bbbbbb;border: 1px solid #ccc;"><b>PROGRAMAS</b></td>
                </tr>

                <tr style="background-color: #ebebeb">
                    <td style="width: 322px;border: 1px solid #ccc;"><b>Programa 1</b></td>
                    <td style="width: 322px;border: 1px solid #ccc;"><b>Programa 2</b></td>

                </tr>
                <tr>
                    <td style="width: 322px;border: 1px solid #ccc;">{{datos3[0].PROG_NOMBRE}}</td>
                    <td style="width: 322px;border: 1px solid #ccc;">{{datos3[1].PROG_NOMBRE}}</td>
                </tr>

            </table>
        </div>



    </div>
    <div class="modal-footer">
        <!--<button class="btn" data-dismiss="modal" ng-click="BuscarLlamado()">Guardar y Procesar</button>-->
        <button class="btn" data-dismiss="modal" aria-hidden="true" >Cerrar</button>
        <button class="btn" data-dismiss="modal" ng-click="ImprimirInscripcion()" aria-hidden="true" >Imprimir</button>
    </div>
</div>
