<style type="text/css">
    legend{
        text-align: center;
    }
</style>
<div class="row-fluid" >
    <div class="span12">
        <img src="img/headerpgsica2.png" >
    </div>
</div>
<div class="row-fluid" >
<div class="span7 offset3">
    <form class="form-horizontal" id="form_inscripcion" name="form_inscripcion" ng-submit="CamposAdicionales()">
        <fieldset>
            <legend style=" padding-top: 10px;">Inscripción en línea</legend>

            <div class="control-group error" ng-class="{error: form_inscripcion.tMetodologia.$invalid}">
                <label class="control-label" for="inputEmail">Metodologia</label>
                <div class="controls">
                    <select  required="required" name="tMetodologia" id="tMetodologia" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" ng-change="ListarNivelEducativo()" ng-model="inscripcion.METO_ID" ng-options="c.METO_ID as c.METO_DESCRIPCION for c in modalidades" >
                        <option value=""> -- Seleccione la Metodologia</option>
                    </select>
                    <span ng-show="form_inscripcion.tMetodologia.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tNivel.$invalid}">
                <label class="control-label" for="inputEmail">Nivel Educativo</label>
                <div class="controls">
                    <select  name="tNivel" id="tNivel" required="required" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" ng-change="ListarProgramas()" ng-model="inscripcion.NIED_ID" ng-options="c.NIED_ID as c.NIED_DESCRIPCION for c in niveleducativo" >
                        <option value=""> -- Seleccione el Nivel Educativo</option>
                    </select>
                    <span ng-show="form_inscripcion.tNivel.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tPrograma1.$invalid}">
                <label class="control-label" >Programa - Opción 1</label>
                <div class="controls">
                    <select  name="tPrograma1" id="tPrograma1"required="required" ng-change="VerPensum(); ValidarPrograma()" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" ng-model="inscripcion.PROG_ID" ng-options="c.PROG_ID as c.PROG_NOMBRE for c in programas">
                        <option value=""> -- Seleccione el Programa</option>
                    </select>
                    <span ng-show="form_inscripcion.tPrograma1.$error.required" class="help-inline" style="">*</span>
                    <a id="aInfoAdicional1" href="" style="display:none;" ng-click="InformacionAdicional()">Info Adicional</a>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tHorario1.$invalid}">
                <label  class="control-label" >Horario Opcion 1</label>
                <div class="controls">
                    <select  name="tHorario1" id="tHorario1" required="required" class="input-large ng-pristine ng-invalid-required ng-invalid" ng-model="inscripcion.JORN_ID" ng-options="c.JORN_ID as c.JORN_DESCRIPCION for c in horario" >
                        <option value=""> -- Seleccione el Horario</option>
                    </select>
                    <span ng-show="form_inscripcion.tHorario1.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tPrograma2.$invalid}">
                <label  class="control-label" >Programa - Opción 2</label>
                <div class="controls">
                    <select name="tPrograma2" id="tPrograma2" required="required" ng-change="VerPensum2(); ValidarPrograma2()" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" ng-model="inscripcion.PROG_ID2" ng-options="c.PROG_ID as c.PROG_NOMBRE for c in programas" >
                        <option value=""> -- Seleccione el Programa</option>
                    </select>
                    <span ng-show="form_inscripcion.tPrograma2.$error.required" class="help-inline" style="">*</span>
                    <a href="" style="display:none;" id="aInfoAdicional2" ng-click="InformacionAdicional2()">Info Adicional</a>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tHorario2.$invalid}">
                <label  class="control-label" >Horario Opcion 2</label>
                <div class="controls">
                    <select name="tHorario2" id="tHorario2" required="required" class="input-large ng-pristine ng-invalid-required ng-invalid" ng-model="inscripcion.JORN_ID2" ng-options="c.JORN_ID as c.JORN_DESCRIPCION for c in horario2" >
                        <option value=""> -- Seleccione el Horario</option>
                    </select>
                    <span ng-show="form_inscripcion.tHorario2.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <legend>Datos Personales</legend>

            <div class="control-group error" ng-class="{error: form_inscripcion.tTipodocu.$invalid}">
                <label  class="control-label" >Tipo de Documento</label>
                <div class="controls">
                    <select name="tTipodocu" id="tTipodocu"ng-model="inscripcion.TIDG_ID" ng-options="c.TIDG_ID as c.TIDG_DESCRIPCION for c in tipodocumento"required="required" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" >
                        <option value="" > -- Seleccione el Tipo de Documento</option>
                    </select>
                    <span ng-show="form_inscripcion.tTipodocu.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tDocumento.$invalid}">
                <label class="control-label" >
                    Número de Documento
                </label>
                <div class="controls">
                    <input type="text" id="tDocumento" name="tDocumento" required="required" maxlength="15" ng-blur="ValidacionExiste()" ng-model="inscripcion.ASPI_NUMERODOCUMENTO" class="input-xlarge ng-pristine ng-invalid-required ng-invalid"  >
                    <span ng-show="form_inscripcion.tDocumento.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tSexo.$invalid}">
                <label class="control-label" >
                    Sexo
                </label>
                <div class="controls">
                    <select id="tSexo" name="tSexo" ng-model="inscripcion.ASPI_SEXO" required="required" class="input-large ng-pristine ng-invalid-required ng-invalid" >
                        <option value="" > -- Seleccione el sexo</option>
                        <option value="1" >Masculino</option>
                        <option value="2" >Femenino</option>
                    </select>
                    <span ng-show="form_inscripcion.tSexo.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tNombre1.$invalid}">
                <label class="control-label" >
                    Primer Nombre
                </label>
                <div class="controls">
                    <input type="text" id="tNombre1" name="tNombre1" required="required" maxlength="15" ng-model="inscripcion.ASPI_PRIMERNOMBRE" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" >
                    <span ng-show="form_inscripcion.tNombre1.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Segundo Nombre
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="inscripcion.ASPI_SEGUNDONOMBRE" class="input-xlarge" >
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tApellido1.$invalid}">
                <label class="control-label" >
                    Primer Apellido
                </label>
                <div class="controls">
                    <input type="text" id="tApellido1" name="tApellido1" required="required" maxlength="15" ng-model="inscripcion.ASPI_PRIMERAPELLIDO" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" >
                    <span ng-show="form_inscripcion.tApellido1.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" >
                    Segundo Apellido
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="inscripcion.ASPI_SEGUNDOAPELLIDO" class="input-xlarge" >
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tFechanaci.$invalid}">
                <label class="control-label" >
                    Fecha de Nacimiento
                </label>
                <div class="controls">
                    <!-- <input type="date" ng-model="ASPIRANTE.ASPI_FECHANACIMIENTO" class="input-medium" > -->
                    <input required="required" id="tFechanaci" name="tFechanaci" ng-model="inscripcion.ASPI_FECHANACIMIENTO" ui-date type="text" class="ng-pristine ng-invalid-required ng-invalid">
                    <span ng-show="form_inscripcion.tFechanaci.$error.required" class="help-inline" style="">*</span>

                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tPaisnaci.$invalid}">
                <label class="control-label" >
                    Lugar de Nacimiento
                </label>
                <div class="controls">
                <select id="tPaisnaci" name="tPaisnaci" ng-model="inscripcion.PAGE_ID" ng-change="ListarDepartamento()" ng-options="c.PAGE_ID as c.PAGE_NOMBRE for c in pais" required="required" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" >
                   <option value="" > -- Seleccione el país</option>
                </select>
                <span ng-show="form_inscripcion.tPaisnaci.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tDptonaci.$invalid}">
                <div class="controls">
                    <select id="tDptonaci" name="tDptonaci" ng-model="inscripcion.DEGE_ID" ng-change="ListarCiudad()"ng-options="c.DEGE_ID as c.DEGE_NOMBRE for c in departamento" required="required" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" >
                       <option value="" > -- Seleccione el dpto</option>
                    </select>
                    <span ng-show="form_inscripcion.tDptonaci.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tCiunaci.$invalid}">
                <div class="controls">
                    <select id="tCiunaci" name="tCiunaci" ng-model="inscripcion.CIGE_ID" ng-options="c.CIGE_ID as c.CIGE_NOMBRE for c in ciudad" required="required" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" >
                        <option value="" > -- Seleccione el mpio</option>
                     </select>
                    <span ng-show="form_inscripcion.tCiunaci.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tCivil.$invalid}">
                <label class="control-label" >
                    Estado Civil
                </label>
                <div class="controls">
                    <select id="tCivil" name="tCivil" ng-model="inscripcion.ESCG_ID" ng-options="c.ESCG_ID as c.ESCG_DESCRIPCION for c in estadocivil" required="required" class="input-large ng-pristine ng-invalid-required ng-invalid" >
                        <option value="" > -- Seleccione el estado civil</option>
                    </select>
                    <span ng-show="form_inscripcion.tCivil.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tEstrato.$invalid}">
                <label class="control-label">
                    Estrato
                </label>
                <div class="controls">
                    <select id="tEstrato" name="tEstrato" ng-model="inscripcion.ESTR_ID" ng-options="c.ESTR_ID as c.ESTR_DESCRIPCION for c in estrato" required="required" class="input-large ng-pristine ng-invalid-required ng-invalid" >
                        <option value="" > -- Seleccione el estrato</option>
                    </select>
                    <span ng-show="form_inscripcion.tEstrato.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <div class="control-group error" ng-class="{error: form_inscripcion.tEntero.$invalid}">
                <label class="control-label">
                    ¿Por cuál medio se entero de la institución?
                </label>
                <div class="controls">
                    <select id="tEntero" name="tEntero" ng-model="inscripcion.OMED_ID" ng-options="c.OMED_ID as c.OMED_DESCRIPCION for c in medio"required="required" class="input-xlarge ng-pristine ng-invalid-required ng-invalid" >
                        <option value="" > -- Seleccione el medio</option>
                    </select>
                    <span ng-show="form_inscripcion.tEntero.$error.required" class="help-inline" style="">*</span>
                </div>
            </div>

            <legend>Datos de ubicación</legend>

            <div class="control-group">
                <label class="control-label">Pais</label>
                <div class="controls">
                    <select ng-model="inscripcion.PAGE_ID2" ng-change="ListarDepartamento2()" ng-options="c.PAGE_ID as c.PAGE_NOMBRE for c in pais2" required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el país</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Departamento</label>
                <div class="controls">
                    <select ng-model="inscripcion.DEGE_ID2" ng-change="ListarCiudad2()"ng-options="c.DEGE_ID as c.DEGE_NOMBRE for c in departamento2"  required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el dpto</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Ciudad</label>
                <div class="controls">
                    <select ng-model="inscripcion.CIGE_ID2" ng-options="c.CIGE_ID as c.CIGE_NOMBRE for c in ciudad2" required="required" class="input-xlarge" >
                        <option value="" > -- Seleccione el mpio</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Teléfono fijo
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="inscripcion.ASPI_TELEFONORESIDENCIA" class="input-medium" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Celular
                </label>
                <div class="controls">
                    <input type="text" maxlength="15" ng-model="inscripcion.ASPI_TELEFONOCELULAR" class="input-large" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Correo Electrónico
                </label>
                <div class="controls">
                    <input type="text" maxlength="50" required="required" ng-model="inscripcion.ASPI_EMAIL" class="input-xlarge" >
                </div>
            </div>


            <legend>Información académica </legend>

            <div class="control-group">
                <label class="control-label">Nombre de la Institución de Graduación de Secundaria: </label>
                <div class="controls">
                    <input type="text" maxlength="250" placeholder="Ingrese datos y presione Enter para buscar"  ui-keydown="{'enter alt-space':'ListarInstitucion($event)'}" ng-model='filtros.institucion' class="input-xlarge" required="required" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Fecha de graduación
                </label>
                <div class="controls">
                    <!--<input type="date" ng-model="ESTUDIOSSECUNDARIOS.ESSE_FECHATERMINACION" class="input-medium" >-->
                    <input ng-model="inscripcion.ESSE_FECHATERMINACION" ui-date type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Número pruebas icfes SNP
                </label>
                <div class="controls">
                    <input type="text" maxlength="30" ng-model="inscripcion.ESSE_SNP" class="input-large" >
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Fecha presentación icfes
                </label>
                <div class="controls">
                    <input ng-model="inscripcion.ESSE_FECHAPRESENTOPRUEBAS" ui-date type="text">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    Puntaje
                </label>
                <div class="controls">
                    <input type="number" maxlength="10" ng-model="inscripcion.ESSE_PUNTAJEOBTENIDO" class="input-medium" >
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" ng-disabled="form_inscripcion.$invalid || isUnchanged(inscripcion)">Aceptar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

</div>
 <!-- ventana de instituciones-->
<div id="ventanaListarInstituciones" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:900px;margin:0 0 0 -400px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instituciones Educativas</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped" >
            <tr>
                <th>INSTITUCION</th>
                <th>JORNADA</th>
            </tr>
            <tr ng-repeat="c in instituciones">
                <td><a ng-click="RetornarInstitucion(c)" href="" >{{c.INST_NOMBREINSTITUCION}}</a></td>
                <td><a href="#" >{{c.INST_JORNADA}}</a></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div>

<!-- ventana de Información Adicional 1-->
<div id="ventanaInformacionAdicional" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:900px;margin:0 0 0 -400px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Información Adicional</h3>
    </div>
    <div class="modal-body">
    <iframe name="iFrame1" id="frmPensum"  width="900" height="1156" src="" scrolling="no" frameborder="0"></iframe>
    </div>
     <div class="modal-footer">
         <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
     </div>
 </div>

<!-- ventana de Información Adicional 2-->
<div id="ventanaInformacionAdicional2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:900px;margin:0 0 0 -400px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Información Adicional</h3>
    </div>
    <div class="modal-body">
        <iframe name="iFrame1" id="frmPensum2"  width="900" height="1156" src="" scrolling="no" frameborder="0"></iframe>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" >Cerrar</button>
    </div>
</div>

<!-- ventana de Final Inscripcion-->
<div id="ventanaFinalizaInscripcion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:800px">
    <div class="modal-header" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">Se ha PREINSCRITO satisfactoriamente</h4>
    </div>

    <div class="modal-body">
        <img src="img/headerpgsica2.png">
        <div class="hero-unit"style="text-align: left;font-size: 9">
            <h4>Recuerde !!!</h4>
            <p>Presentar los siguientes documentos en el departamento de Admisiones, Control y Registro</p>
            <p>- 2 Fotos tamaño cédula</p>
            <p>- Fotocopia legible de la libreta militar (Hombre)</p>
            <p>- Fotocopia legible de las pruebas icfes</p>
            <p>- Fotocopia legible del diploma de bachiller o acta de grado</p>
            <p>- Fotocopia legible del documento de identidad)</p>
            <p>- Pago de inscripción (Emitido por dpto cartera)</p>
            <br>
            <h4> Para mayor información dirijase al departamento de Promoción y Mercadeo</h4>
            <p> 2161700 ext 133</p>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" >Cerrar</button>
    </div>
</div>

